hr {
  margin: 5px;
}
 
#field {
	width: 654px;
	height: 654px;
	border: 2px solid black;
	background: #c9aec6;
	position: relative;
	float: left;
}

.playplace {
	float: left;
  text-align: center;
}

#usertable {
	position: relative;
  margin-top: 15px;
	margin-left: 30px;
	width: 300px;
	min-height: 50px;
	border: 2px solid black;
	text-align: center;
  overflow: -webkit-paged-y;
}

#modal {
  position: fixed;
  display: none;
  overflow: auto;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: #0f091ff2;
  width: 100%;
  height: 100%;
}

.btns {
  min-height: 50px;
  width: 345px;
  margin-left: 40px;
}

#close {
  margin-top: 10px;
  cursor: pointer;
  float: right;
}

#btncub {
  margin-top: 10px;
  cursor: pointer;
  width: 120px;
  float: left;
}

#cub {
	height: 280px;
  width: 410px;
  background: #3b5158;
  margin: 0 auto;
}

.wrap {
  margin: 100px 0px 50px;
  padding-top: 85px;
  perspective: 1000px;
  perspective-origin: 100% 100%;
}

.cube {
  margin: auto;
  position: relative;
  height: 65px;
  width: 65px;
  transform-style: preserve-3d;
}

.cube > div {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  opacity: 1;
  border: solid 1px #eeeeee;
  color: #ffffff;
  border-radius: 3px;
}

#front {
  transform: translateZ(65px);
  background: url(../img/cub1.png) center center no-repeat;
  background-size: contain;
}

#back {
  transform: translateZ(0px) rotateY(180deg);
  background: url(../img/cub2.png) center center no-repeat;
  background-size: contain;
}

#right {
  transform: rotateY(-270deg) translateX(0px);
  transform-origin: top right;
  background: url(../img/cub3.png) center center no-repeat;
  background-size: contain;
}

#left {
  transform: rotateY(270deg) translateX(0px);
  transform-origin: center left;
  background: url(../img/cub4.png) center center no-repeat;
  background-size: contain;
}

#top {
  transform: rotateX(-270deg) translateY(0px);
  transform-origin: top center;
  background: url(../img/cub5.png) center center no-repeat;
  background-size: contain;
}

#bottom {
  transform: rotateX(270deg) translateY(0px);
  transform-origin: bottom center;
  background: url(../img/cub6.png) center center no-repeat;
  background-size: contain;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  
  to {
    transform: rotateX(-360deg) rotateY(360deg);
  }
}

.cube {
  animation: rotate 2s infinite linear;
}

.player{
  border:1px solid black;
  box-shadow: 1px 1px 1px #123;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  float: right;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #123;
  line-height: 43px;
}
 #player1 {
  background: red;
  top: 3px;
  left: 5px;
  z-index: 5;
 }
#player2 {
  background: green;
  top: 3px;
  left: 10px;
  z-index: 6;
 }
 #player3 {
  background: blue;
  top: 3px;
  left: 15px;
  z-index: 7;
 }
 #player4 {
  background: yellow;
  top: 3px;
  left: 20px;
  z-index: 8;
 }

